
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Malaria Diagnostic</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">
  <link href="../static/css/index.css" rel="stylesheet">


</head>

<body>



  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html"><img src="../static/assets/img/mosquito.svg" alt="logo"
            class="img-fluid px-2">Malaria Diagnostic</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">Detection</a></li>
          <li><a href="#procedure">Procedure</a></li>
          <li><a href="#report">Report</a></li>
          <li><a href="#gallery">Snapshots</a></li>
          <li><a href="#faq">Help</a></li>
          <li><a href="#team">Team</a></li>
         
        </ul>
      </nav><!-- .nav-menu -->

      <a href="/index#detection" type="button" class="btn btn-primary detect-btn scrollto"  >Detect Now !!!</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Computer Aided Diagnostic System For Malaria.</h1>
      <h2>The branch of artificial intelligence has very quickly become transformative for healthcare, offering the
        ability to analyze data with a speed and precision never seen before.</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>What is malaria?</h3>
              <p>
                Malaria is a life-threatening disease caused by a parasite? that is transmitted through the bite of
                infected female Anopheles mosquitoes.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class='bx bx-transfer-alt'></i>
                    <h4>How is malaria transmitted?</h4>
                    <p>Malaria is transmitted via the bite of the female Anopheles mosquito.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class='bx bx-plus-medical'></i>
                    <h4>Complications associated with malaria</h4>
                    <p>All cases of Plasmodium falciparum malaria are potentially severe and life threatening.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class='bx bx-time'></i>
                    <h4>incubation time?</h4>
                    <p>Usually the incubation time for malaria is seven to 18 days.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
              data-autoplay="true"></a>
          </div>

          <div            class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Malaria Detection using CNN</h3>
            <p>Deep learning is a good place to start. This branch of artificial intelligence has very quickly become
              transformative for healthcare, offering the ability to analyze data with a speed and precision never seen
              before</p>
            <p>Our data clearly show that a CNN algorithm may be a suitable tool to aid physicians in melanoma detection
              irrespective of their individual level of experience and training.</p>

            <div class="icon-box">
              <div class="icon"><i class='bx bxs-rocket'></i></div>
              <h4 class="title"><a href="">lightening fast detection</a></h4>
              <p class="description">we have developed a lightweight computer aided Diagnostic system with an aim of
                easing the weary task of detection of Malaria infected cells by examination of blood smears under
                microscope.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class='bx bxs-group'></i></div>
              <h4 class="title"><a href="">For community</a></h4>
              <p class="description">developed in an effort to help the communities and people all over the world.
                According to the latest world Malaria report,released in November 2018 there were 219 million cases of
                malaria in 2017.The estimated number of Malaria deaths stood at 435000 in 2017.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class='bx bxs-heart'></i></div>
              <h4 class="title"><a href="">Easy to work with</a></h4>
              <p class="description">By utilizing elements and principles of material design, we were able to make the
                process simpler. one can get started and use it in less then 3 clicks!</p>
            </div>
            <!-- Button trigger modal -->
            <div class="row mx-auto my-3">
              <a href="/index#detection" type="button" class="btn btn-primary detect-btn" >
                DETECT NOW !!!
              </a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section class=" text-center my-2" id="detection">
  <h2>Image Classifier for Malaria Detection</h2>

    <div class="container">
        <form id="upload-file" method="post" enctype="multipart/form-data" class="w-100 my-2">
            <label for="imageUpload" class="upload-label"> Choose... </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
        </form>

        <div class="image-section w-100" style="display: none">
            <div class="img-preview mx-auto">
                <div id="imagePreview"></div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg" id="btn-predict">
            Predict!
          </button>
            </div>
        </div>

        <div class="loader" style="display: none"></div>

        <h3 id="result" class="w-100 text-center">
            <span> </span>
        </h3>
    </div>
</section>

    <!-- ======= procedure Section ======= -->
    <section id="procedure" class="procedure">
      <div class="container">

        <div class="section-title">
          <h2>Procedure</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-chart'></i></div>
              <h4><a href="">Convolution operation </a></h4>
              <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-layer'></i></div>
              <h4><a href="">ReLU Layer</a></h4>
              <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-border-none'></i></div>
              <h4><a href="">Pooling</a></h4>
              <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-area'></i></div>
              <h4><a href="">Flattening</a></h4>
              <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-unite'></i></div>
              <h4><a href=""> Full Connection</a></h4>
              <!-- <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p> -->
            </div>
          </div>


        </div>

      </div>
    </section><!-- End procedure Section -->



    <!-- ======= report Section ======= -->
    <section id="report" class="report">
      <div class="container">

        <div class="section-title">
          <h2>Report</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">MALARIA CASES
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">MALARIA DEATHS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">RE‑ESTABLISHMENT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">GTS MILESTONES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">RESEARCH</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-6 details order-2 order-lg-1">
                    <h3>MALARIA CASES
                    </h3>
                    <p class="font-italic">Globally, there were an estimated 229 million malaria cases in 2019 in 87
                      malaria endemic countries, declining from 238 million in 2000.</p>
                    <ul>
                      <li>At the Global technical strategy for malaria 2016–2030 (GTS) baseline of 2015, there were 218
                        million estimated malaria cases.</li>
                      <li>The proportion of cases due to Plasmodium vivax reduced from about 7% in 2000 to 3% in 2019.
                      </li>
                      <li>Malaria case incidence (i.e. cases per 1000 population at risk) reduced from 80 in 2000 to 58
                        in 2015 and 57 in 2019 globally.</li>
                      <li>Nigeria (27%), Congo (12%), Uganda (5%), Mozambique (4%) and Niger (3%) accounted for about
                        51% of all cases globally.</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 text-center order-1 order-lg-2">
                    <a href="../static/assets/img/report/report-1.jpg" class="venobox vbox-item" data-gall="gallery-item">
                      <img src="../static/assets/img/report/report-1.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-6 details order-2 order-lg-1">
                    <h3>MALARIA DEATHS</h3>
                    <p class="font-italic">The percentage of total malaria deaths among children aged under 5 years was
                      84% in 2000 and 67% in 2019.</p>
                    <ul>
                      <li>Globally, malaria deaths have reduced steadily over the period 2000–2019, from 736 000 in 2000
                        to 409 000 in 2019.</li>
                      <li>Globally, the malaria mortality rate (i.e. deaths per 100 000 population at risk) reduced from
                        about 25 in 2000 to 12 in 2015 and 10 in 2019.</li>
                      <li>About 95% of malaria deaths globally were in 31 countries.</li>
                      <li>In the WHO South-East Asia Region, malaria deaths reduced by 74%, from about 35 000 in 2000 to
                        9 000 in 2019.</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 text-center order-1 order-lg-2">
                    <a href="../static/assets/img/report/report-2.jpg" class="venobox vbox-item" data-gall="gallery-item">
                      <img src="../static/assets/img/report/report-2.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-12 details">
                    <h3>MALARIA ELIMINATION AND PREVENTION OF RE‑ESTABLISHMENT</h3>
                    <p class="font-italic">The number of countries that were malaria endemic in 2000 and that reported
                      fewer than 10 000 malaria cases increased from 26 in 2000 to 46 in 2019.</p>
                    <p>There were more cases in 2019 than in 2018 in Comoros, Costa Rica, Ecuador and Suriname.</p>
                    <p>Iran (Islamic Republic of), Malaysia and Timor-Leste reported zero indigenous malaria cases in
                      2018 and 2019.</p>
                    <p>Between 2000 and 2019, no country that was certified malaria free has been found to have malaria
                      transmission re-established.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-12 details ">
                    <h3>PROGRESS TOWARDS THE GTS MILESTONES OF 2020</h3>
                    <p class="font-italic">Despite the considerable progress made since 2000, the GTS 2020 milestones
                      for morbidity and mortality will not be achieved globally.</p>
                    <P>The GTS(Global Technical Strategy) aims for a reduction in malaria case incidence and mortality
                      rate of at least 40% by 2020, 75% by 2025 and 90% by 2030 from a 2015 baseline.</P>
                    <P>The 2000–2019 trends in malaria cases and deaths were used to make annual projections from 2020
                      to 2030.</P>
                    <P>Malaria case incidence in nine countries (10%) in 2020 was estimated to be at levels similar to
                      those of 2015.</P>
                    <P>All countries in the WHO South-East Asia Region were on track for both the morbidity and
                      mortality 2020 GTS milestones.</P>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-6 details order-2 order-lg-1">
                    <h3>INVESTMENTS IN MALARIA PROGRAMMES AND RESEARCH</h3>
                    <p class="font-italic">Total funding for malaria control and elimination in 2019 was estimated at US$ 3.0 billion.</p>
                 <P>The GTS sets out estimates of the funding required to achieve milestones for 2020, 2025 and 2030.</P>
                 <P>Total annual resources needed were estimated at US$ 4.1 billion in 2016, rising to US$ 6.8 billion in 2020.</P>
                 <P>An additional US$ 0.72 billion is estimated to be required annually for global malaria research and development (R&D).</P>
                 <P>The amount invested in 2019 falls short of the US$ 5.6 billion estimated to be required globally to stay on track towards the GTS milestones.</P>
                 <P>The funding gap between the amount invested and the resources needed has continued to widen dramatically over recent years.</P>
                  </div>
                  <div class="col-lg-6 text-center order-1 order-lg-2">
                    <a href="../static/assets/img/report/report-3.jpg" class="venobox vbox-item" data-gall="gallery-item">
                      <img src="../static/assets/img/report/report-3.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End report Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="icofont-doctor-alt"></i>
          <span data-toggle="counter-up">229</span>
          <p>Million Cases worldwide in 2019</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="icofont-patient-bed"></i>
          <span data-toggle="counter-up">409000</span>
          <p>Death in 2019</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class='bx bx-dna'></i>
          <span data-toggle="counter-up">400</span>
          <p>Species of Anopheles mosquito</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class='bx bx-money'></i>
          <span data-toggle="counter-up">3</span>
          <p>Bilion total funding</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>

        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                href="#faq-list-1">What is Deep Learning and why is it so popular? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>Companies that are investing in deep learning are primarily looking to solve complex problems and
                  this form of learning accomplishes that with its collection of large data sets. Another reason deep
                  learning thrives in the world today is that it powers the functions that need voice and image
                  detection.</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
                class="collapsed">Do we need a lot of data to train deep learning models? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Deep learning does not require a large amount of data and computational resources.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
                class="collapsed">What is the difference between Deep Learning and Machine Learning? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  Machine learning uses algorithms to parse data, learn from that data, and make informed decisions
                  based on what it has learned. Deep learning structures algorithms in layers to create an "artificial
                  neural network” that can learn and make intelligent decisions on its own.
                </p>
              </div>
            </li>



          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->



    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Snapshots</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/assets/img/gallery/model train download.png" class="venobox" data-gall="gallery-item">
                <img src="../static/assets/img/gallery/model train download.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>



          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/assets/img/gallery/train and test download.png" class="venobox" data-gall="gallery-item">
                <img src="../static/assets/img/gallery/train and test download.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/assets/img/gallery/training download.png" class="venobox" data-gall="gallery-item">
                <img src="../static/assets/img/gallery/training download.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/assets/img/gallery/project model summary Screenshot.jpg" class="venobox"
                data-gall="gallery-item">
                <img src="../static/assets/img/gallery/project model summary Screenshot.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

            <div class="row align-items-center justify-content-center">
  <div class="col-lg-6 mt-4 offset-lg-1">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/assets/img/team/team3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Prof. Mrs. BHAGYA M PATIL</h4>
                <span>Project Guide</span>
                <p>REVA UNIVERSITY</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          
             <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/assets/img/team/team1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>MADHU K V</h4>
                <span>R19SCS22</span>
                <p>MS in CS, REVA UNIVERSITY </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/assets/img/team/team2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>MITHUN B</h4>
                <span>R19SCS26</span>
                <p>MS in CS , REVA UNIVERSITY</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        


        </div>

      </div>
    </section><!-- End Doctors Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">



    <div class="container d-md-flex py-4">
    <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          © Copyright <strong><span>Malaria Diagnostic</span></strong>. All Rights Reserved
        </div>
        
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop"  tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            Malaria Detection using CNN </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
        </div>
      </div>
    </div>
  </div>
  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>
{% extends "base.html" %} {% block content %} {% endblock %}